@font-face {
    font-family: "Quicksand";
    src: url(../font/Quicksand-VariableFont_wght.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Quicksand', sans-serif;
    line-height: 2;
}

:root {
    --blue-primary: #3a7bd5;
    --blue-light: #a4caff;
    --blue-dark: #104ea4;
    --white: #ffffff;
    --gray: #c8c8c8;
}

.text-center {
    text-align: center;
}

.header {
    padding: 24px;
    margin: 10px;
    background-color: var(--blue-primary);
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--white);
}

.content {
    padding: 24px;
    margin: 10px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--blue-primary);
    width: auto;
}

.gap {
    margin-top: 16px;
    margin-bottom: 16px;
}

.content .gap input[type="text"] {
    width: 90%;
    height: 35px;
    border-radius: 10px;
    padding: 12px;
    border: 1px solid var(--blue-primary);
}

.content .gap input[type="text"]:focus {
    outline: 1px solid var(--blue-primary);
}

.content .gap input[type="color"] {
    cursor: pointer;
    border: 0;
    outline: 2px solid var(--blue-primary);
    border-radius: 5px;
    height: 25px;
    background-color: var(--white);
    overflow: hidden;
}

.content .gap input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 0;
}

.content .gap input[type="color"]::-webkit-color-swatch {
    border: 0;
}

.content .gap input[type="range"] {
    cursor: pointer;
    accent-color: var(--blue-primary);
    border-color: var(--blue-primary);
}

.content .gap button {
    margin-top: 20px;
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: bold;
    border: 0;
    padding: 12px;
    transition: all 0.25s ease-in-out;
    line-height: normal;
}

#QRCodeContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

#QRCodeContainer canvas {
    width: 100%;
    max-width: 225px;
}

#QRCodeContainer img {
    max-width: 225px;
    width: 100%;
}

#downloadButton {
    border-radius: 10px;
    cursor: pointer;
    background-color: var(--blue-primary);
    color: var(--white);
    font-weight: bold;
    border: 0;
    padding: 8px;
}

.footer {
    padding: 24px;
    margin: 10px;
    background-color: var(--blue-primary);
    border-radius: 10px;
    box-shadow: 0 5px 15px var(--blue-light);
    color: var(--white);
}

a {
    color: var(--white);
}

a:hover {
    color: var(--gray);
}

@media only screen and (min-width: 768px) {
    .container {
        display: grid;
        grid-template-columns: 50% 50%;
    }
}